/* Estilos para el componente navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, #000000, #ffd700); 
  color: #fff; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

h1 {
  margin: 0; 
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* Estilos para los botones */
button, .dropbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

/* Estilos para el botón desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: max-height 0.3s ease, border-radius 0.3s ease; 
  border-radius: 0 0 8px 8px; 
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #2b2828;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 200px; 
  border-radius: 8px 8px 0 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: normal;
  transition: font-weight 0.3s;
}

.nav-links a:hover {
  font-weight: bold;
}

.nav-links a:active {
  font-weight: bold;
  color: #ffd700; 
}